body {
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    color: $gray-darker;
    font-family: $font-primary;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #F48C06, #F48C06);
    border-radius: 50px;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    font-family: $font-primary;
    line-height: calc(33 / 22);
    padding: 13px 50px;
    border: 0;
    outline: none;
    border-radius: 100rem;
    cursor: pointer;

    &--white {
        background-color: #fff;
        color: $gray-light;
    }

    &--primary {
        border: 1px solid $secondary-color;
        color: $secondary-color;

        &:hover {
            color: #fff;
            background-color: $secondary-color;
        }
    }

    &--secondary {
        margin: 0 auto;
        border: 1px solid $secondary-color;
        border-radius: 80px;
        color: $secondary-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 180%;
        padding: 20px 38px;
        &:hover {
            color: #fff;
            background-color: $secondary-color;
        }
    }
}

@media screen and (max-width: 1920px) {
    .btn {
        padding: 12px 40px;
    }
}


.text-medium {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: $gray;
}

.heading-medium {
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: $gray-darker;
    margin-bottom: 20px;
}

.global {
    &-container {
        padding: 0 50px;
    }

    &-heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 180%;
        color: $primary-color;
        margin-bottom: 20px;

        span {
            color: $secondary-color;
        }
    }

    &-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 180%;
        margin: 0 auto;
        color: $gray;
    }

    &-caption {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #525596;
        position: relative;
        padding-left: 110px;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            content: "";
            background-color: #525596;
            height: 1px;
            width: 80px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.bg-purple {
    background-color: $purple;
}

.bg-orange {
    background-color: $secondary-color;
}

.bg-blue {
    background-color: $blue;
}

@media screen and (max-width: 1023px) {
    .global-heading {
        font-size: 28px;
    }

    .global-text {
        font-size: 20px;
    }

    .global-caption {
        padding-left: 0;
        &::before {
            display: none;
        }
    }

    .heading-medium {
        font-size: 20px;
    }
}


@media screen and (max-width: 767px) {
    .global-container {
        padding: 0 20px;
    }
}